@import "bootstrap-icons";

.hide {
  display: none;
}

.card:hover {
  figure {
    display: none;
  }
  .card-body {
    display: block;
    color: white;
  }
}

figure {
  color: white;
}

.overview-height {
  max-height: 200px;
}

.card-body-scroll {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent; /* Firefox */
}

.card-body-scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px; /* se hai anche scroll orizzontale */
}

.card-body-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.card-body-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  border: 1px solid transparent; /* per un po’ di padding */
}
